:root {
  --clr-primary-100: hsl(7, 99%, 70%);
  --clr-primary-200: hsl(51, 100%, 49%);
  --clr-primary-300: hsl(167, 40%, 24%);
  --clr-primary-400: hsl(198, 62%, 26%);
  --clr-primary-500: hsl(168, 34%, 41%);

  --clr-neutral-100: hsl(212, 27%, 19%);
  --clr-neutral-200: hsl(213, 9%, 39%);
  --clr-neutral-300: hsl(232, 10%, 55%);
  --clr-neutral-400: hsl(210, 4%, 67%);
  --clr-neutral-500: hsl(0, 0%, 100%);

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);

  --ff-primary-100: "Barlow", sans-serif;
  --ff-primary-200: "Fraunces", serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: inherit;
}

/* hero background image */

.hero_bg {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 80px 1fr auto;
  background-color: #3ec0ff;
  position: relative;
  max-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #3ec0ff;
}

main {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  z-index: 1000;
}

.hero_bg::before {
  content: "";
  background-image: url("images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 150px;
  width: 50px;
  height: 133px;
}

.hero_bg-img {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  width: 100%;

  height: auto;
  position: absolute;
  bottom: 0;
}

.hero_img-wrapper {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 100% 100%;
  object-position: 100% 100%;
  overflow: hidden;
  height: 650px;
  max-height: 650px;
  position: relative;
}

@media (min-width: 750px) {
  .hero_img-wrapper {
    display: flex;
    justify-content: center;
  }

  .hero_img-wrapper img {
    max-height: 750px;
  }

  .hero_img-wrapper {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 100% 100%;
    object-position: 100% 100%;
    overflow: hidden;
    height: 750px;
    max-height: 750px;
    position: relative;
  }
}

@media (min-diwth: 1440px) {
  .hero_img-wrapper {
    height: 1000px;
    max-height: 1000px;
  }
}

/* try turning bg and sibling into grid parent */
/* create rows to position the arrow */

/* header */
header {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 124px;
  height: 24px;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  font-family: var(--ff-primary-100);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-500);
  font-size: var(--fs-400);
}

/* main - hero */
main {
  padding: 0 16px 0 16px;
}

main h1 {
  font-family: var(--ff-primary-200);
  font-weight: var(--fw-black);
  color: var(--clr-neutral-500);
  font-size: var(--fs-900);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 1.3;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  padding: 0 16px 0 16px;
}

/* card 1 */
.card_01,
.card_02 {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1;
  place-items: center;
}

.card_01-img {
  grid-row-start: 1;
  grid-row-end: 1;
}

.card_01-content {
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_01-content h2 {
  font-family: var(--ff-primary-200);
  font-size: var(--fs-700);
  margin-top: 40px;
  padding: 0 16px 0 16px;
}

.card_01-content p {
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  text-align: center;
  margin-top: 20px;
  padding: 0 16px 0 16px;
}

@media (min-width: 1440px) {
  .card_01 {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 720px 720px;
    width: 1440px;
    margin: 0 auto;
  }

  .card_01-img {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .card_01-content {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .card_01-content picturei img {
    max-width: 100%;
  }

  .card_01-content h2 {
    font-family: var(--ff-primary-200);
    font-size: var(--fs-700);
    margin-top: 40px;
    padding: 0 16px 0 16px;
  }

  .card_01-content p {
    font-family: var(--ff-primary-100);
    font-size: var(--fs-500);
    text-align: center;
    margin-top: 20px;
    padding: 0 16px 0 16px;
  }
}
